<div id="portfolio">
	<div class="container-fluid padding">
		<h2>portfolio</h2>
		<div class="row no-padding">
			<div class="col-md-6">
				<img src="images/1.png" class="portfolio">
			</div>
			<div class="col-md-6">
				<img src="images/2.png" class="portfolio">
			</div>
			<div class="col-md-6">
				<img src="images/3.png" class="portfolio">
			</div>
			<div class="col-md-6">
				<img src="/images/4.png" class="portfolio">
			</div>
		</div>
	</div>
</div>