<div id="team">
	<h2>Team</h2>
	<div class="row padding">
		<div class="col-md-6">
			<div class="card text-center">
				<img src="images/5.png" class="card-img-top" alt="">
				<div class="card-body">
					<h4>jonas</h4>
					<p>Sic Mundus Creatus Est</p>
				</div>
			</div>
   </div>
		<div class="col-md-6">
			<div class="card text-center">
				<img src="images/6.png" class="card-img-top" alt="">
				<div class="card-body">
					<h4>Martha</h4>
					<p>Sic Mundus Creatus Est</p>
				</div>
			</div>
			
		</div>
	</div>
</div>
<!-- end team -->
